/* Add CSS Styling */
.pink {
    background-color: pink;
}

#id1{
    color: blue;
    font-size: 36px;
}

#id2{
    font-weight: bold;
    font-size: 24px;
    background-color: lightgreen;
    color: black;
}

.odd{
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}