/* Add CSS Styling */
#btn1 {
    background-color: black;
    color: white;
}

#btn2 {
    background-color: yellow;
}

.universal {
    font-size: 28px;
    font-family: "Helvetica","Times New Roman", sans-serif;
}